@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #1a1a1a;
    color: white;
    padding-bottom: 30px;
  }
  
  .carousel-slide {
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
  }
  
  .carousel-content {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .carousel-image-container {
    flex: 1;
    padding: 20px;
  }
  
  .carousel-image {
    width: 100%;
    padding-top: 50px;
    height: auto;
    object-fit: cover;
  }
  
  .textcontent {
    flex: 2;  /* El texto ocupa más espacio */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;  /* Ajusta el ancho máximo para que no ocupe toda la pantalla */
    height: 500px;
    justify-content: space-evenly;
  }
  
  .carousel-title {
    font-family: 'Outfit';
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-text {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 500px;
    text-align: center;
    color: #a0a0a0;
  }
  
  .carousel-button {
  
    color: white;
    border: 1px solid white;
   
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
  }
  .carousel-button:hover{
    background-color: #333333;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
  }
  
  .left {
    left: 10px;
  }
  
  .right {
    right: 10px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .modal-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  

  @media (max-width: 1000px) {
    .carousel-title{
      font-size: 30px;
    }
    .carousel-slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 645px;
        border: 1px solid white;
    }

    .carousel-image-container {
        width: 80%;
        max-width: 400px;
        padding: 10px;
    }

    .carousel-image {
        width: 100%;
        height: auto;
    }

    .textcontent {
        max-width: 90%;
        height: auto;
        padding: 20px;
    }
}
