@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');


.CVU{

    background: #1a1a1a;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .CVU p{
    color: #fff;
  }



  
  .container1 {
    display: flex;
   align-items: center;
   justify-content: center;
    padding: 50px;
    width: 400px;
    
    border-radius: 8px;
    gap: 50px;
    
  }
  .titulo2{
    
    
    font-size: 65px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    
  }
  
  
  .container1 .card {
    flex: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #1a1a1a;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
   
  }
  


  .card .card__image1 {
    flex: 1;
    height: 250px;
    
  }
  .card .card__image2 {
    flex: 1;
    height: 200px;
   
    

  }
  
  .card:nth-child(1) .card__image1 {
   background-image: url(../assets/español.png);
    background-size: cover;
    
  }

  
  .card:nth-child(2) .card__image1 {
    background-image: url(../assets/english.png);
    background-size: cover;
  }

  
  
  .card .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  
  .card .card__content .card__title {
    font-size: 32px;
    
  }
  
  .card .card__content .card__describe {
    color: #fff;
    font-size: 16px;
  }

  .button1 {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color:#1a1a1a;
    border: 1px solid white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  .button1:hover {
    
    box-shadow: 0px 15px 15px rgba(203, 204, 204, 0.4);
    transform: translateY(-7px);
  }
  
  .button1:active {
    transform: translateY(-1px);
  }
  #download:active{
    background-color: #5a9e49;
  }

  @media (max-width: 768px){
    .container1{
      flex-direction: column;
    }
    .CVU{
      flex-direction: row;
      height: auto;
    }
    .titulo2{
      font-size: 32px;
    }
  }