.page-container {
    color: white;
    padding: 20px 0;
    text-align: center;
    background: #1a1a1a;
}
  
  .page-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 70px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
    padding: 0 50px;
    color: black;
  }
  
  .skill-card {
    background-color:white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Combinar ambas transiciones */
    animation: fade 1.5s ease-in-out; /* Duración de 1.5 segundos con suavidad */
    height: 250px;


  }
  .skill-card:hover{
    transform: translateY(-20px);
    box-shadow: 10px 40px 20px rgba(0, 0, 0, 0.582); 

  }
  
  .skill-icon-container {
    position: absolute;
    top: -50px;
    left: 52%;
    transform: translateX(-50%);
    border-radius: 50%;
    padding: 10px;
  }
  
  .skill-icon {
    width: 100px;
    height: 100px;
  }
  
  .skill-title {
    margin-top: 40px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .skill-description {
    font-size: 0.9rem;
    line-height: 1.4;
  }
  
  @media (max-width: 768px){
    .skill-card{
      height: auto;
    }
  }